main {
    padding-top: 3rem;
}

.cal-icon {
    margin: 10px;
}

.padd-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.marg-2 {
    margin-top: 50px;
    margin-bottom: 20px;
    display: none;
}

.marg-3 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}